[submodule "src/3rdparty/syntax-highlighting"]
	path = src/3rdparty/syntax-highlighting
	url = https://github.com/KDE/syntax-highlighting.git
[submodule "src/3rdparty/extra-cmake-modules"]
	path = src/3rdparty/extra-cmake-modules
	url = https://github.com/KDE/extra-cmake-modules.git
